.nav-active {
  overflow: hidden;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.visually-hidden {
  @apply absolute w-[1px] h-[1px] overflow-hidden border-0 p-0 -m-[1px] whitespace-nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.hide-element {
  @apply invisible absolute;
}

.container {
  @apply w-full max-w-full mx-auto md:max-w-[744px] lg:max-w-[1920px] px-1-lg md:px-4-xs;
}

@layer components {
  .public-container {
    @apply w-full max-w-full mx-auto md:max-w-[744px] lg:max-w-[1920px] px-1-lg md:px-4-xs;
  }

  .private-layout {
    @apply flex flex-col flex-1 w-screen h-screen relative overflow-x-hidden overflow-y-auto;

    & > main {
      @apply relative flex-1 px-2-xs pt-[64px] md:pt-[136px] lg:pt-[132px] bg-bg-secondary-light dark:bg-bg-secondary-dark;
    }
  }

  .private-section {
    @apply lg:pl-[376px];
  }

  .private-container {
    @apply w-full mx-auto flex flex-col bg-bg-primary-light dark:bg-bg-primary-dark rounded-[12px] p-2-xs md:max-w-[664px] lg:max-w-[962px];
  }
}
